/*Globally Used Styles*/
.blue{color:#049cdb;};
.center{text-align:center;}
footer .container{text-align:center;}
#content{padding-top:60px;}
ul.errorlist{display:inline;list-style:none;color:#B94A48;}
.alert-message.error{color:#FFF;}
.topbar-menus li.dropdown{margin:0 1em;}
.topbar .fill{border-bottom:2px solid #105Fb6;}
